
crow-modeler/.vs/slnx.sqlite
crow-modeler/.vs/crow-modeler/v17/DocumentLayout.json
crow-modeler/.vs/crow-modeler/FileContentIndex/6f2c9447-f9c5-49a5-b7bc-01b5d6a2d422.vsidx
crow-modeler/.vs/crow-modeler/FileContentIndex/6f2c9447-f9c5-49a5-b7bc-01b5d6a2d422.vsidx
/crow-modeler/.vs/crow-modeler/FileContentIndex
/crow-modeler/.vs/crow-modeler
/crow-modeler/.vs/crow-modeler/FileContentIndex
