<app-header></app-header>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                (closed)="events.push('close!')" role="toolbar">
    <nav>
      <ul>
        <li><a routerLink="/draw-screen" routerLinkActive="active" ariaCurrentWhenActive="page">Draw Screen</a></li>
        <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">login</a></li>
      </ul>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.toggle()">Sidenav</button></p>
    <app-gojs-diagram></app-gojs-diagram>
  </mat-sidenav-content>
</mat-sidenav-container>