.light {
  --md-sys-color-primary: #006a60;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #9ef2e4;
  --md-sys-color-on-primary-container: #00201c;
  --md-sys-color-secondary: #4a635f;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #cce8e2;
  --md-sys-color-on-secondary-container: #05201c;
  --md-sys-color-tertiary: #456179;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #cce5ff;
  --md-sys-color-on-tertiary-container: #001e31;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #410002;
  --md-sys-color-background: #f4fbf8;
  --md-sys-color-on-background: #161d1c;
  --md-sys-color-surface: #f4fbf8;
  --md-sys-color-on-surface: #161d1c;
  --md-sys-color-surface-variant: #dae5e1;
  --md-sys-color-on-surface-variant: #3f4947;
  --md-sys-color-outline: #6f7977;
  --md-sys-color-outline-variant: #bec9c6;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-inverse-surface: #2b3230;
  --md-sys-color-inverse-on-surface: #ecf2ef;
  --md-sys-color-inverse-primary: #82d5c8;
  --md-sys-color-primary-fixed: #9ef2e4;
  --md-sys-color-on-primary-fixed: #00201c;
  --md-sys-color-primary-fixed-dim: #82d5c8;
  --md-sys-color-on-primary-fixed-variant: #005048;
  --md-sys-color-secondary-fixed: #cce8e2;
  --md-sys-color-on-secondary-fixed: #05201c;
  --md-sys-color-secondary-fixed-dim: #b1ccc6;
  --md-sys-color-on-secondary-fixed-variant: #334b47;
  --md-sys-color-tertiary-fixed: #cce5ff;
  --md-sys-color-on-tertiary-fixed: #001e31;
  --md-sys-color-surface-container-high: #e3eae7;
  --md-sys-color-surface-container-highest: #dde4e1;
}

#navbarNav{
  border-bottom: .7px solid gray;
  border-left: .7px solid gray;
  border-right: .7px solid gray;
  box-shadow: 0px 1px 1px gray;
  background-color: var(--md-sys-color-primary) !important;
}

mat-drawer-container{
  height: 90vh;
}


.custom-sidenav {
  background-color: #DDE4E1;
  width: 12%; /* Legt die Breite des Sidenavs auf fest */
}



  .side-menu-icons button {
    background: none;
    border: none;
    padding: 10px 10px 10px 20px; /* Fügt links Padding hinzu, um den Button einzurücken */
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%; /* Stellt sicher, dass die Buttons die gesamte Breite einnehmen */
    text-align: left; /* Text und Inhalte im Button links ausrichten */
  }

  .btn-link img {
    width: 30px; /* Passe die Größe der Icons nach Bedarf an */
    height: 30px;
  }


@media screen and (max-width:500px) {
  .custom-sidenav {
    width: 50%; /* Legt die Breite des Sidenavs auf fest */
  }
}

@media screen and (max-width:840px) {
  .custom-sidenav {
    width: 30%; /* Legt die Breite des Sidenavs auf fest */
  }
}