<body>
    <mat-card class="primary-container light main-card">
        <mat-card-content>
            <h1 class="on-primary-container light">Wilkommen im CROW Modeller!</h1>
            <p class="on-primary-container light text-block">
                Die absolute Nummer 1 Webanwendung zum Zeichnen von Entity-Relation (ER) Diagrammen. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ullamcorper venenatis facilisis. Nullam at congue felis, ac finibus dui. Aliquam.
            </p>
        </mat-card-content>
        <div class="buttons light">
            <button class="secondary" routerLink="/draw-screen" routerLinkActive="active" ariaCurrentWhenActive="page" mat-raised-button>Let me Draw!</button>
            <button class="primary" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" mat-raised-button>Login</button>
        </div>
    </mat-card>
</body>