<h1 mat-dialog-title>Knoten bearbeiten</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>


  <h3>Attribute</h3>
  <div *ngFor="let attribute of data.attributes; let i = index" style="display: flex; gap: 10px;">
    <mat-form-field appearance="fill" style="flex: 1;">
      <mat-label>Attribut</mat-label>
      <input matInput [(ngModel)]="attribute.name">
    </mat-form-field>
    <button mat-icon-button color="warn" (click)="removeAttribute(i)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <button mat-button (click)="addAttribute()">Attribut hinzufügen</button>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Abbrechen</button>
  <button mat-button (click)="onSave()">Speichern</button>
</div>
