<h1 mat-dialog-title>Bearbeite Knoten</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <!-- Direktes Binden der Knotendaten -->
    <input matInput [(ngModel)]="data.name" required />
    <mat-error *ngIf="!data.name">Name ist erforderlich</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Abbrechen</button>
  <button mat-button (click)="save()" [disabled]="!data.name">Speichern</button>
</div>
