header {
  background-color: #DDE4E1;
  padding: 10px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons img {
  margin: 0 10px;
  width: 30px;
  height: 30px;
}

.logo img {
  width: 50px;
  height: 50px;
}

.slider-toggle {
  display: flex;
  align-items: center;
}

  .slider-toggle .mode-text {
    margin: 0 10px;
    font-size: 14px;
    color: black;
  }

  .slider-toggle .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
  }

    .slider-toggle .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

  .slider-toggle .slider {
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }

    .slider-toggle .slider:before {
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      left: 3px;
      bottom: 3px;
      background-color: white;
      transition: .4s;
      border-radius: 50%;
    }

  .slider-toggle input:checked + .slider {
    background-color: #2196F3;
  }

    .slider-toggle input:checked + .slider:before {
      transform: translateX(14px);
    }

.menu {
  position: relative;
  display: inline-block;
  
}

.menu-button {
  background-color: #DDE4E1;
  color: black;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.menu-button {
  background-color: #DDE4E1;
  color: black;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center; /* Zentriere das Icon vertikal */
}

  .menu-button img {
    width: 24px; /* Passe die Breite des Icons an */
    height: 24px; /* Passe die Höhe des Icons an */
    margin-right: 5px; /* Füge einen kleinen Abstand zwischen dem Icon und dem Text hinzu */
  }

.menu-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  min-width: 160px;
}

  .menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

    .menu-content a:hover {
      background-color: #f1f1f1;
    }

.menu:hover .menu-content {
  display: block;
}

.openProjectDialog {
  background-color: #2196F3;
  opacity: 1;
}