<header>
  <div class="header-container">
    <div class="icons">
      <img src="icon1.png" alt="Icon 1">
      <img src="icon2.png" alt="Icon 2">
      <img src="icon3.png" alt="Icon 3">
      <img src="icon4.png" alt="Icon 4">
      <img src="icon5.png" alt="Icon 5">
      <img src="icon6.png" alt="Icon 6">
      <img src="icon7.png" alt="Icon 7">
      <img src="icon8.png" alt="Icon 8">
    </div>
    <div class="logo">
      <img src="logo.png" alt="Logo">
    </div>
    <div class="slider-toggle">
      <span class="mode-text">Easy Mode</span>
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
      <span class="mode-text">Advanced Mode</span>
    </div>
    <div class="menu">
      <button class="menu-button">Menü</button>
      <div class="menu-content">
        <a href="#">Unterpunkt 1</a>
        <a href="#">Unterpunkt 2</a>
        <a href="#">Unterpunkt 3</a>
        <a href="#">Unterpunkt 4</a>
      </div>
    </div>
  </div>
</header>

