<header>
  <div class="header-container">
    <div class="icons">
      <img src="../assets/img/haus-leer.png" alt="Icon 1">
      <img src="../assets/img/dokument-hinzufugen.png" alt="Icon 2">
      <img src="../assets/img/ordner-geoffnet.png" alt="Icon 3">
      <img src="../assets/img/scheibe.png" alt="Icon 4">
      <img src="../assets/img/dateiexport.png" alt="Icon 5">
      <img src="../assets/img/datenbank.png" alt="Icon 6">
      <img src="../assets/img/drehe-nach-rechts.png" alt="Icon 7">
      <img src="../assets/img/hineinzoomen.png" alt="Icon 8">
      <img src="../assets/img/rauszoomen.png" alt="Icon 9">
    </div>
    <div class="logo">
      <img src="../assets/img/krahe.png" alt="Logo">
    </div>
    <div class="slider-toggle">
      <span class="mode-text">Easy Mode</span>
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
      <span class="mode-text">Advanced Mode</span>
    </div>
    <div class="menu">


      <button class="menu-button">
        <img src="./assets/img/menu-burger.png" alt="Menü">
      </button>


      <div class="menu-content">
        <a href="#">Unterpunkt 1</a>
        <a href="#">Unterpunkt 2</a>
        <a href="#">Unterpunkt 3</a>
        <a href="#">Unterpunkt 4</a>
      </div>
    </div>
  </div>
</header>

