<header>


  <div class="container">
    <div class="logo">LOGO</div>
    <div class="box">Neues Projekt</div>
    <div class="box">Projekt öffnen</div>
    <div class="box">Spei chern</div>
    <div class="box">Bild Export</div>
    <div class="box">SQL Export</div>
    <div class="box">Neu Laden</div>
    <div class="box">Zoom in</div>
    <div class="box">Zoom out</div>
    <img class="logoc" src="assets/img/logo.svg">
    <input type="range" class="slider" min="0" max="1" value="0" step="1">
    <div class="box right-box">Profil</div>
  </div>








  <!--<img class= "home" scr="asset/img/home.svg">-->



</header>

