<p>create-class-dialog works!</p>
<h1 mat-dialog-title>Create Node Group</h1>
    <!-- <div mat-dialog-content>
      <mat-form-field>
        <mat-label>Value 1</mat-label>
        <input matInput [(ngModel)]="data.value1">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Value 2</mat-label>
        <input matInput [(ngModel)]="data.value2">
      </mat-form-field>
      <mat-checkbox [(ngModel)]="data.checkboxValue">Checkbox value</mat-checkbox>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onClose()">Cancel</button>
      <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Create</button>
    </div> -->